
// responsive

$small-width: 320px;
$medium-width: 768px;
$large-width: 1024px;



@mixin small {
  @media (max-width: #{$medium-width}) {
    @content;
  }
}


@mixin medium {
  @media (min-width: #{$medium-width}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-width}) {
    @content;
  }
}




